@(user: User)(form: Form[Profile.Settings])(genderList: List[String])

@import mainparts.profile
@import views.html.helper.select
@import views.html.helper.options
@import scala.collection.JavaConverters._
@import play.i18n._

@profile(user){
<div class="user-settings">
    @helper.form(routes.Profile.saveSettings(user.id), 'enctype -> "multipart/form-data") {
    <h1>Настройки</h1>
    @if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
    }
    @if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
    }
    <dl>
        <dt></a><label>Имя:</label></dt>
        <dd><input type="text" name="name" placeholder="Имя" value="@user.name"></dd>

        <dt><label>Фамилия:</label></dt>
        <dd><input type="text" name="secondName" placeholder="Фамилия" value="@user.secondName"></dd>

        <dt><label>Откуда:</label></dt>
        <dd><input type="text" name="whereFrom" placeholder="Откуда" value="@user.whereFrom"></dd>


        <dt><img src="@puseravatar(user.userAvatar)"></dt>
        <dd><input type="file" name="userAvatar" placeholder="Ссылка на аватарку" value="@user.userAvatar"></dd>

        <dt><label>Email:</label></dt>
        <dd><input type="email" name="email" placeholder="Email" value="@user.email"></dd>

        <dt><label>Пароль:</label></dt>
        <dd><input type="password" name="password" placeholder="Password" value=""></dd>

        <dt><label>Пол:</label></dt>
        <dd>
            <select name="gender">
            @genderList.map { gender =>
                <option value="@gender" @(if(gender == user.gender.toString) "selected" else "")>@Messages.get(gender)</option>
            }
            </select>
        </dd>

        <dd><button type="submit">Сохранить</button></dd>
    </dl>
    }
</div>
}